:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --box-shadow-light: 0 4px 10px rgba(0, 0, 0, 0.1);
    --box-shadow-dark: 0 4px 10px rgba(86, 86, 86, 0.3);
}
/* Dark Mode */
body.dark-mode {
    --bg-color: #272525;
    --text-color: #ffffff;
    --button-bg: #1f1f1f;
    --button-text: #007bff;
}
body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.container {
    width: 90%;
    max-width: 500px;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--box-shadow-light);
    text-align: center;
}
/* Dark Mode container */
body.dark-mode .container {
    box-shadow: var(--box-shadow-dark); /* Box-shadow untuk dark mode */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fa1212;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--text-color);
}   

.form-container {
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    background-color: #00cfda;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
}

button:hover {
    background-color: #00cfda;
}

.result {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #d4edda;
    margin-top: 10px;
}
